/* logs */
#logs 
{
    width: 500px;
    border: 1px solid gray;

}
#title_logs
{
    width: 100%;
    color: black;
    padding: 2px 6px;
    background: #FFF;
}
#content_logs
{
    padding: 6px;
    background: #000;
}
#logs font
{
    color: #FFF;
    display: flex;
}