*{
    /* border & padding входят в расчёт размера */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: white;
    margin: 0px;
    padding: 0px;
    background: #343434 url(img/fon.jpg);
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-attachment: fixed;
}

a {
    color: red;
    text-decoration: none;
}

/* scroll bar */
::-webkit-scrollbar {width: 8px}
::-webkit-scrollbar-track {background: #18191d}
::-webkit-scrollbar-thumb {background: #3b4146}
::-webkit-scrollbar-thumb:hover {background: #474e54}

/* HEADER */
#header {
    width: 100%;
    height: 120px;
    box-shadow: 0px 5px 25px 0px black;
    background: rgba(21, 21, 21, 0.2);
    align-items: center;
    border-bottom: 1px solid #343434;
    margin-bottom: 150px;
}

#headerIMG {
    height: 120px;
}

#search {
    float: right;
    border: 3px solid #7e7d7d;
    margin: 5px;
    padding: 10px;
    display: flex;
    border-radius: 10px;
}

/* ОСНОВНАЯ КОНТЕНТ-ЛЕНТА */
.content {
    border-bottom: 0px;
    border-right: 2px solid #7e7d7d;
    border-left: 2px solid #7e7d7d;
    border-top: 0px;
    text-align: center;
    position: relative;
    display: block;
    background-color: rgba(32, 32, 32, 0);
    height: auto;
    width: 718;
    border-radius: 0px 0px 25px 25px;
    /* скругление углов [Элипс - 10px/20px; ] */
}

.blockh {
    background-color: rgba(32, 32, 32, 0.8);
    border-bottom: 2px solid #7e7d7d;
    padding-top: 30px;
}

.blockh:last-child {
    background-color: rgba(32, 32, 32, 0.8);
    border-bottom: 0px solid #7e7d7d;
    padding-top: 30px;
}

.hovergallery {
    color: red;
}

.hovergallery img {
    position: relative;
    width: 600px;
    -webkit-transform: scale(0.9);
    /*Webkit: уменьшаем размер до 0.8*/
    -moz-transform: scale(0.9);
    /*Mozilla: масштабирование*/
    -o-transform: scale(0.9);
    /*Opera: масштабирование*/
    -webkit-transition-duration: 0.5s;
    /*Webkit: длительность анимации*/
    -moz-transition-duration: 0.5s;
    /*Mozilla: длительность анимации*/
    -o-transition-duration: 0.5s;
    /*Opera: длительность анимации*/
    opacity: 0.8;
    /*Начальная прозрачность изображений*/
}

.hovergallery img:hover {
    -webkit-transform: scale(1.0);
    /*Webkit: увеличиваем размер до 1.2x*/
    -moz-transform: scale(1.0);
    /*Mozilla: масштабирование*/
    -o-transform: scale(1.0);
    /*Opera: масштабирование*/
    box-shadow: 0px 0px 30px gray;
    /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
    -webkit-box-shadow: 0px 0px 30px gray;
    /*Webkit: тени*/
    -moz-box-shadow: 0px 0px 30px gray;
    /*Mozilla: тени*/
    opacity: 1;
}

/* МОДИФИЦИРОВАНИЕ 07.03.21 */
/* КОМПАС */
.y {
    /* ЗАПРЕТ НА ВЫДЕЛЕНИЕ ТЕКСТА */
    user-select: none;
    border: 2px solid #7e7d7d;
    border-radius: 25px 0 0 0;
    width: 100%;
    background-color: rgba(32, 32, 32, 0.8);

    /* border & padding входят в расчёт размера */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.yy {
    margin: 50px 0;
    display: flex;
    /* item по центру */
    justify-content: center;
}

.yyy {
    background-color: rgba(32, 32, 32, 1);
    padding: 6px 15px;
    margin: 3px;
    /* НАСТРОКА ГРАНИЦ */
    border-radius: 5px;
    border: 1px solid grey;
    /* СТИЛИЗАЦИЯ ШРИФТА */
    color: #7e7d7d;
    font-size: 1.88em;
    /* 30px */
}

.xxx {
    background-color: rgba(40, 40, 40, 1);
    border: 1px solid #343434;
    color: grey;
}

.yyy:hover {
    background-color: rgba(40, 40, 40, 1);
    border: 1px solid #343434;
    color: red;
}




/* BOTTOM */
.bottom {
    background-color: rgba(34, 34, 34, 0.8);
    border-radius: 25px 25px 0 0;
    border: 2px solid #7E7D7D;
}

/* bottomText */
.bottomText {
    font-size: 40px;
    padding: 40px 0 40px 20px;
    color: gray;
}

/* Строка данных аккаунта */
.bottomAk {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    padding: 20px 0 20px 20px;
    border-top: 1px solid grey;
}

/* div Иконок аккаунтов */
.AkIco {
    flex-basis: 15%;
}

/* Иконки аккаунтов */
.AkIco1 {
    width: 100%;
    border-radius: 50%;
}

/* Имя аккаунта */
.AkName {
    flex-basis: 66%;
    font-size: 60px;
    margin: auto 0 auto 20px;
    height: 60px;
    color: #FFA000;
}

/* ICO соцсети */
.PlAk {
    flex-basis: 15%;
}

.PlAk1 {
    width: 100%;
}
