body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #343434;
    font-family: sans-serif;
}

a {
    color: #CC93CC;
    text-decoration: none;
}

/* HEADER */
#header {
    width: 100%;
    height: 120px;
    box-shadow: 0px 5px 25px 0px black;
    /*box-shadow: [x] [y] [плотность] [размытие] [цвет]; */
    background: rgba(21, 21, 21, 0.2);
    align-items: center;
    /*выравнивает[y]: center, top, bottom */
    border-bottom: 1px solid #343434;
    margin-bottom: 150px;
}

#search {
    width: 85px;
    float: right;
    border: 3px solid #7e7d7d;
    margin: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}




/* ССЫЛКИ НА СОЦ СЕТИ */
#line_ico {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

#container_ico {
    order: 999;
    border: 2px solid #7e7d7d;
    margin-left: auto;
    border-radius: 25px 0px 0px 0px;
    border-bottom: 0;
    background-color: rgba(32, 32, 32, 0.8);
}

#box_ico {
    float: left;
    padding: 20px 10px 20px 0;
}

#box_ico:first-child {
    float: left;
    padding: 20px 10px 20px 20px;
}

#ico {
    height: 90px;
}



/* ОСНОВНОЙ КОНТЕЙНЕР */
#touch img {
    position: relative;
    width: 600px;
    -webkit-transform: scale(0.9);
    /*Webkit: уменьшаем размер до 0.8*/
    -moz-transform: scale(0.9);
    /*Mozilla: масштабирование*/
    -o-transform: scale(0.9);
    /*Opera: масштабирование*/
    -webkit-transition-duration: 0.5s;
    /*Webkit: длительность анимации*/
    -moz-transition-duration: 0.5s;
    /*Mozilla: длительность анимации*/
    -o-transition-duration: 0.5s;
    /*Opera: длительность анимации*/
    opacity: 0.8;
    /*Начальная прозрачность изображений*/
}

#touch img:hover {
    -webkit-transform: scale(1.0);
    /*Webkit: увеличиваем размер до 1.0x*/
    -moz-transform: scale(1.0);
    /*Mozilla: масштабирование*/
    -o-transform: scale(1.0);
    /*Opera: масштабирование*/
    box-shadow: 0px 0px 30px gray;
    /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
    -webkit-box-shadow: 0px 0px 30px gray;
    /*Webkit: тени*/
    -moz-box-shadow: 0px 0px 30px gray;
    /*Mozilla: тени*/
    opacity: 1;
}

#claster {
    border: 2px solid #7e7d7d;
    position: relative;
    text-align: center;
    padding-top: 30px;
    border-radius: 25px 0px 0 0;
    background-color: rgba(32, 32, 32, 1);
}

#info {
    color: #7e7d7d;
    margin: 4%;
    font-size: 2em;
    text-align: left;
}

#p720 {
    background-color: #7e7d7d;
    border-radius: 5px;
    align-items: center;
    font-size: 0.8em;
    padding: 5px;
    color: black;
}

/* ПРИМЕЧАНИЯ */
#center {
    text-align: center;
    font-size: 2em;
}

#screenShot {
    border-radius: 25px;
}

#block_op {
    display: flex;
    flex-flow: row wrap;
}

#opening {
    color: #7e7d7d;
    margin: 10px 0 0 0;
    padding: 10px;
    font-size: 40px;
    border-top: 2px solid #7e7d7d;
    flex-basis: auto;
    border-right: 2px solid #7e7d7d;
    border-radius: 0 25px 0 0;
}

.opening {
    width: 100%;
    margin: 0 0 100px 0;
    border-top: 2px solid #7e7d7d;
    border-bottom: 2px solid #7e7d7d;
}
