* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #18191d;
}
::-webkit-scrollbar-thumb {
    background: #3b4146;
}
::-webkit-scrollbar-thumb:hover {
    background: #474e54;
}

button {
    /* ОБНУЛЕНИЕ СТАНДАРТНЫХ СТИЛЕЙ */
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

h1 {
    margin: 0;
    padding: 0;
}

hr {
    border: none;
    height: 1px;
    background-color: aquamarine;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
/* Универсальное решение, которое убирает подсветку во всех браузерах и не только на input, но и на других элементах, в том числе select, button, a: */
:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
    /* УДАЛЕНИЕ ТЕНИ ДЛЯ ЭТИХ ПСЕВДОКЛАССОВ */
    box-shadow: 0;
}

input {
    /* ПРОЗРАЧНЫЙ ФОН */
    background-color: transparent;
    /* DEL ОБВОДКА */
    outline: 0;
    outline-offset: 0;
    /* DEL ТЕНИ ДЛЯ ЭТИХ ПСЕВДОКЛАССОВ */
    box-shadow: 0;
}


/* фон позди плеера */
#box {
    height: 100vh;
    width: 100%;
    background: black;
}

/* стабилизатор */
#sub_box {
    color: white;
    width: 1100px;
    /* ПРОЗРАЧНЫЙ ФОН */
    background: transparent;
    /* ЦЕНТРИРОВАНИЕ */
    position: relative;
    /* СМЕЩЕНИЕ НА ПОЛОВИНУ ОТ РАЗМЕРА РОДИТЕЛЯ */
    left: 50%;
    top: 50%;
    /* СМЕЩЕНИЕ НА ПОЛОВИНУ ОТ СВОЕГО РАЗМЕРА */
    transform: translate(-50%, -50%);

}

#name_age_box {}

#name {
    padding: 12px 0px 6px 10px;
}

#age {
    color: gray;
    /* ЗАПРЕТ НА ВЫДЕЛЕНИЕ ТЕКСТА */
    user-select: none;
    padding: 0 0 10px 10px;
    font-size: 25px;
}



#container {
    display: flex;
    width: 100%;
    background-color: #0D0E0E;
}

/* ЛЕВАЯ СТОРОНА ПЛЕЕРА */
#left_box {
    width: 720px;
}

#videoBox {
    /* ОБРЕЗКА ВЫСТУПАЮЩИХ КРАЁВ */
    overflow: hidden;
    /* ЦЕНТРИРОВАНИЕ СОДЕРЖИМОГО ПО ЦЕНТРАЛЬНОЙ ТОЧКЕ БЛОКА */
    display: flex;
    justify-content: center;
    align-items: center;
    /* РАЗМЕРЫ ОБОЛОЧКИ */
    width: 100%;
    height: 408px;
}

#player {
    width: 100%;
    height: 408px;
}

#panel {
    /* ЗАПРЕТ НА ВЫДЕЛЕНИЕ ТЕКСТА */
    width: 100%;
    user-select: none;
    padding: 10px;
    background-color: #161616;
    display: flex;
}

/* ПОДПИСЬ */
#serial {
    color: darkgray;
    padding-right: 10px;
    font-size: 20px;
    /* ПОЗИЦИАНИРОВАНИЕ ПО ЦЕНТРАЛЬНОЙ ТОЧКЕ */
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* НАСТРОЙКИ СЕГМЕНТА */
#segment {
    color: white;
    border: 2px solid #161616;
    margin: 0 5px;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 5px;
}

#segment:hover {
    border: 2px solid rgba(255, 255, 255, .15);
}

#segment:active {
    border: 2px solid red;
}

#segment:focus {
    border: 2px solid darkseagreen;
}

#cluster {
    /* Запрещаем перенос строк */
    white-space: nowrap;
    /* ОБРЕЗАТЬ ПО КРАЯМ БЛОКА */
    overflow: hidden;
}

/* ПРАВАЯ СТОРОНА ПЛЕЕРА */
#right_box {
    overflow: hidden;
    padding: 2%;
    width: 380px;
    font-size: 20px;
}
@media (max-width: 1111px) {
    /* УДАЛЕНИЕ ПРАВОЙ ПАНЕЛИ */
    #right_box {display: none}
    #sub_box{width: 720px}
}