/* ПАЛИТРА */
:root {
    --gray: #7E7D7D;
    --dark_Grey: #2D2D2D;
    --light_Grey: #343434;
    --pink: #CC93CC;
}

/* SCROLL BAR */
::-webkit-scrollbar {width: 8px}
::-webkit-scrollbar-track {background: #18191d}
::-webkit-scrollbar-thumb {background: #3b4146}
::-webkit-scrollbar-thumb:hover {background: #474e54}

/* ОБНУЛЕНИЯ */
*,
*:after,
*:before 
{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
*::selection
{
    color: var(--pink);
    background: ;
}

/* ССЫЛКА */
a {
    color: var(--pink);
    text-decoration: none;
}

body
{
    color: #FFF;
    min-height: 100vh;
    background-color: var(--light_Grey);
}

/* ОГРАНИЧИТЕЛЬ */
.wrapper{
    width: 100%;
    height: 100vh;
}

/* ВЕРХУШКА */
header
{
    width: 100%;
    height: 60px;
    margin-bottom: 100px;
    box-shadow: 0px 1px 25px 0px black;
    background: rgba(21, 21, 21, 0.2);
    border-bottom: 1px solid #343434;
}
header img{
    height: 90%;
}

.grid
{
    border: 2px solid var(--gray);
    border-radius: 25px 0px 0 0;
    width: 100%;
    display: grid;
    background: #202020;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "image name"
                         "image info"
                         "image logs"
                         "image tags"
                         "scr opening";
}

.box:first-child {margin: 10px;}

.box
{
    background-color: var(--light_Grey);
    display: inline-grid;
    width: 40px;
    height: 40px;
    margin: 10px 10px 10px 0;
}

.box img
{
    width: 60px
}

header .box:last-child, footer .box:last-child
{
    position: absolute;
    right: 0;
}

.grid-item:first-child { margin: 10px }

.grid-item
{
    margin: 0px 10px 10px 10px;
    text-align: center;
}

/* НАЗВАНИЕ */
.name
{
    grid-area: name;
    font-size: 28px;

}

/* ПОСТЕР */
.icon
{
    grid-area: image;
    padding: 10px;
    height: 500px
}
.ico
{
    height: 100%;
    border-radius: 8px;
}

/*  */
.info
{
    grid-area: info;
}
.info, .tags { text-align: left; color: var(--gray)}

/* ЛОГИ */
.logs 
{
    grid-area: logs;
    font-family: 'Oswald', sans-serif
}

/* СКРИНЫ */
.screen-shot { grid-area: scr ; text-align: center}

.scr
{
    display: inline-block;
    width: 90%;
    margin: 10px 0 0 0;
    border-radius: 10px;
    background-color: var(--dark_Grey);
}

/* ВИДЕО */
.opening { grid-area: opening }
.video {width: 100%}

/* АНИМАЦИЯ КАРТИНОК */
.grid img {
    position: relative;
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -o-transform: scale(0.96);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    opacity: 0.8;
}

.grid img:hover {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    box-shadow: 0px 0px 30px gray;
    -webkit-box-shadow: 0px 0px 30px gray;
    -moz-box-shadow: 0px 0px 30px gray;
    opacity: 1;
}

/* ПОДВАЛ */
footer
{
    margin-top: 40px;
    background: var(--dark_Grey);
    padding: 10px;
}
footer p { font-family: 'Oswald', sans-serif; }
footer a img {height: 50px;}
footer p {  }

/* ТЕЛЕФОННАЯ ВЕРСИЯ */
@media (orientation: portrait)
{
    .grid
    {
        grid-template-columns: 1fr !important;
        grid-template-areas:'name'
                            'image'
                            'info'
                            'logs'
                            'tags'
                            'scr'
                            'opening' !important;
    }
    .scr
    {
        width: 45%;
    }
    .ico{
    }
}