:root{
    --gray: #7E7D7D;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    font-family: sans-serif;  
}


/* SCROLL BAR */
::-webkit-scrollbar {width: 8px}
::-webkit-scrollbar-track {background: #18191d}
::-webkit-scrollbar-thumb {background: #3b4146}
::-webkit-scrollbar-thumb:hover {background: #474e54}

body {
    margin: 0;
    padding: 0;
    background: #343434;
    overflow: hidden;
}

a {
    color: #CC93CC;
    text-decoration: none;
}

/* HEADER */
#header {
    width: 100%;
    height: 120px;
    box-shadow: 0px 5px 25px 0px black;
    /*box-shadow: [x] [y] [плотность] [размытие] [цвет]; */
    background: rgba(21, 21, 21, 0.2);
    align-items: center;
    /*выравнивает[y]: center, top, bottom */
    border-bottom: 1px solid #343434;
    margin-bottom: 150px;
}

#header img{height: 100%}

#search {
    height: 90%;
    width: 108px;
    float: right;
    border: 3px solid var(--gray);
    margin: 6px;
    padding: 10px 0;
    display: flex;
    border-radius: 10px;
    background: url(../../img/search.png) 10px 10px / 80% no-repeat;
}




/* ССЫЛКИ НА СОЦ СЕТИ */
#line_ico {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

#container_ico {
    order: 999;
    border: 2px solid #7e7d7d;
    margin-left: auto;
    border-radius: 25px 0px 0px 0px;
    border-bottom: 0;
    background-color: rgba(32, 32, 32, 0.8);
}
#box_ico {
    float: left;
    padding: 20px 10px 20px 0;
}

#box_ico:first-child {
    float: left;
    padding: 20px 10px 20px 20px;
}

#ico {
    height: 90px;
}

.name{
    text-align: center;
    color: white;
    font-size: 56px;
}
.icon{
    text-align: center;
}



/* ОСНОВНОЙ КОНТЕЙНЕР */
#touch img {
    position: relative;
    width: 600px;
    -webkit-transform: scale(0.9);
    /*Webkit: уменьшаем размер до 0.8*/
    -moz-transform: scale(0.9);
    /*Mozilla: масштабирование*/
    -o-transform: scale(0.9);
    /*Opera: масштабирование*/
    -webkit-transition-duration: 0.5s;
    /*Webkit: длительность анимации*/
    -moz-transition-duration: 0.5s;
    /*Mozilla: длительность анимации*/
    -o-transition-duration: 0.5s;
    /*Opera: длительность анимации*/
    opacity: 0.8;
    /*Начальная прозрачность изображений*/
}

#touch img:hover {
    -webkit-transform: scale(1.0);
    /*Webkit: увеличиваем размер до 1.0x*/
    -moz-transform: scale(1.0);
    /*Mozilla: масштабирование*/
    -o-transform: scale(1.0);
    /*Opera: масштабирование*/
    box-shadow: 0px 0px 30px gray;
    /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
    -webkit-box-shadow: 0px 0px 30px gray;
    /*Webkit: тени*/
    -moz-box-shadow: 0px 0px 30px gray;
    /*Mozilla: тени*/
    opacity: 1;
}

#cluster {
    border: 2px solid var(--gray);
    position: relative;
    text-align: center;
    padding-top: 30px;
    border-radius: 25px 0px 0 0;
    background-color: rgba(32, 32, 32, 1);
}

.info {
    color: var(--gray);
    margin: 4%;
    font-size: 2em;
    text-align: left;
}

#p720 {
    background-color: var(--gray);
    border-radius: 5px;
    align-items: center;
    font-size: 0.8em;
    padding: 5px;
    color: black;
}

/* ПРИМЕЧАНИЯ */
#center {
    text-align: center;
    font-size: 2em;
}

#screenShot {
    border-radius: 25px;
}

#block_op {
    display: flex;
    flex-flow: row wrap;
}

#block_op div{
    color: var(--gray);
    margin: 10px 0 0 0;
    padding: 10px;
    font-size: 40px;
    border-top: 2px solid #7e7d7d;
    flex-basis: auto;
    border-right: 2px solid #7e7d7d;
    border-radius: 0 25px 0 0;
}

.opening {
    width: 100%;
    margin: 0 0 20px 0;
    border-top: 2px solid var(--gray);
    border-bottom: 2px solid var(--gray);
}


@media screen and (max-width: 680px){
    /* HEADER */
    #header {
        height: 60px;
        margin-bottom: 40px;
    }

    #search {
        width: 56px;
        border: 2px solid var(--gray);
        margin: 3px;
        border-radius: 6px;
        background: url(../../img/search.png) 4px 4px / 80% no-repeat;
    }

    .name{
        font-size: 28px;
    }

    /* ССЫЛКИ НА СОЦ СЕТИ */

    #box_ico {
        padding: 10px 5px 10px 0;
    }

    #box_ico:first-child {
        padding: 10px 5px 10px 10px;
    }

    #ico {
        height: 50px;
    }



    /* ОСНОВНОЙ КОНТЕЙНЕР */
    #touch img {
        width: 300px;
    }


    .info {
        font-size: 1em;
    }

    #p720 {
        border-radius: 3px;
        padding: 2px;
    }

    /* ПРИМЕЧАНИЯ */
    #center {
        text-align: center;
        font-size: 1em;
    }

    #screenShot {
        border-radius: 12px;
    }


    #block_op div{
        font-size: 20px;
        border-radius: 0 16px 0 0;
    }
}

@media (orientation: landscape){
    .wrapper{
        width: 100%;
        padding-top: 100px;
    }
    /* HEADER */
    #header {
        position: absolute;
        left: 0;
        top: 0;
        height: 60px;
    }

    #search {
        width: 56px;
        border: 2px solid var(--gray);
        margin: 3px;
        border-radius: 6px;
        background: url(../../img/search.png) 4px 4px / 80% no-repeat;
    }
    #cluster {
        width: 100%;
        margin: auto;
        position: relative;
        text-align: left;
        border-radius: 25px 0px 0 0;
        background-color: rgba(32, 32, 32, 1);
    }
    .name{
        font-size: 28px;
        
    }

    /* ССЫЛКИ НА СОЦ СЕТИ */

    #box_ico {
        padding: 10px 5px 10px 0;
    }

    #box_ico:first-child {
        padding: 10px 5px 10px 10px;
    }

    #ico {
        height: 50px;
    }



    /* ОСНОВНОЙ КОНТЕЙНЕР */
    #touch img {
        width: 300px;
        display: inline;
    }


    .info {
        font-size: 1em;
        display: inline
    }

    #p720 {
        border-radius: 3px;
        padding: 2px;
    }

    /* ПРИМЕЧАНИЯ */
    .log {
        text-align: center;
        font-size: 1em;
    }

    #screenShot {
        border-radius: 12px;
    }


    #block_op div{
        font-size: 20px;
        border-radius: 0 16px 0 0;
    }
}
