*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.mixColor{
    /* ФОНОВОЕ ИЗОБРАЖЕНИЕ */
    background: url(../img/1.jpg) center no-repeat;
    /* ВЫСОТА 100% ЭКРАНА */
    height: 100vh;
    /* МАШТАБИРОВАНИЕ */
    background-size: cover;/* Масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока.*/
    display: flex;
    
    /* ПОЗИЦИОНИРОВАНИЕ ДЛЯ ТЕКСТА ВНУТРИ ТЕГА */
    /* CENTER Y */
    align-items: center;
    /* CENTER X */
    justify-content: center;
}
.mixColor h1{
    /* РАЗМЕР ШРИФТА */
    font-size: 9rem;
    /* ЦВЕТ */
    color: rgba(255,255,255,.3);
    background: url(../img/1.png) 0 -40px /90% repeat;
    animation: wave 10s infinite;
    -webkit-background-clip: text;
    
}

@keyframes wave{
    from{
        background-position: left 0 top -70px;
    }
    to{
        background-position: left 900px top -70px;
    }
}